body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
}

.container {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 12px;
}

.form-control button{
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control form:focus {
    outline: 0;
}